body {
  text-align: center;
  background-color: #011F3F;
}

.rules{
  margin-top: 20px;
}
button{
  background-color: black;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20%;
}
a{
  text-decoration: none;
  color: white;
}
button:hover{
  background-color: cadetblue;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.footer{
  margin-top: 20px;
  color: white;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  margin-bottom: 20px;
}
.fa-heart{
  color: red;
}
